<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos | Ma Première App Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1>À propos de moi</h1>
        <p>je suis un devellopeur web.passionne par le digital</p>
        <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
        <footer>Fait par clainn et Flask </footer>
    </div>
</body>

</html>