<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Ma Première App Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur ma première application Flask !</h1>
        <p>Je suis disponible pour toute créativité web.</p>
        <div class="nav-links">
            <a href="/about" class="btn">À Propos</a>
            <a href="/games" class="btn btn-secondary">Voir les Jeux</a>
        </div>
        <footer>Propulsé par Flask & CLainn</footer>
    </div>
</body>
</html>
