<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil | Ma Première App Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur ma première application Flask !</h1>
        <p>Ceci est la page d'accueil. Nous utilisons Flask pour créer des expériences web dynamiques et performantes.</p>
        <a href="/about" class="btn">En savoir plus sur nous</a>
        <footer>Propulsé par Flask & clainn </footer>
    </div>
</body>
</html>
